<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="chat,realtime,simple,application,node" />
  <title>Realtime Communication</title>
  <link rel="stylesheet" href="./css/bootstrap.min.css" />
  <link rel="stylesheet" href="./css/style.css" />
</head>

<body class="bg-primary text-primary">
  <nav>
  </nav>
  <main>
  </main>
  <script defer src="./sock/socket.io.js"></script>
  <script defer src="./js/script.js"></script>
</body>

</html>
